
@font-face {
    font-family:codeCaptcha;
    /*src: url('/Frontend/fonts/Captcha_code.otf');*/
    src: url('/Frontend/fonts/font28.ttf');
}



.f15{
    font-size: 15pt;
}



.custom_size_img{
    width: 100%!important;
    height: 210px!important;
    display: inline-block;
}
.max_height_img_news{
    max-height: 260px!important;
    width: 100%;
}

.button_register{
    border: none;
    margin-top: 25px;
    padding: 15px 30px;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
    background-color: #113366;
    color: #ffffff;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.input_register{
    height: 60px;
    padding: 0 0 0 15px;
    line-height: initial;
    color: #292929;
    background-color: transparent !important;
    border: 1px solid #f1f1f1;
    border-radius: 5px;
    -webkit-box-shadow: unset !important;
    box-shadow: unset !important;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    font-size: 15px;
    font-weight: 500;
}
.button_register:hover{
    background-color: #ed1d24;
}
.font_black {
    color: black;
}
.bg_white{
    background: white;
}
.font_gray {
    color:rgba(17,17,69,0.57);
}
.width_select_birthday{
    width: 150px;
}
.pointer{
    cursor: pointer;
}
.mt_native{
    margin-top: -66px;
}
.error_my_profile{
    color: red;
}
.img_profile{
    width:100%;
    height:76%;
    border-radius: 50%;
}

.dz-button{
    margin-top: 30px;
}
.span_captcha{
    width: 180px;
    height: 50px;
    display: inline-block;
    border: 2px solid;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
    font-size: 25pt;
    font-weight: 600;
    background-image: url("/Frontend/image/static/bg_captcha.jpg");
}

.font_captcha{
    font-family:codeCaptcha;
}
